*~*
*.DS_Store
/**/.settings
/**/.project
/**/.classpath

# we want to ignore all individual .gitignore files inside eclipse projects, 
# however, we would like to capture any changes made to the parent .gitignore fie so that the rule is propagated to all working directories in all locations.

*.gitignore
