grant codeBase "file:/Users/tanvir/Documents/Developments/Workspace/RMISecurityInvestigation2ClientSide/bin/" {
    permission java.security.AllPermission;
};