grant codeBase "file:/Users/tanvir/Documents/Developments/Workspace/RMISecurityInvestigation2ClientSide/bin/client/" {
    permission java.security.AllPermission;
};